.name{
    border-radius: 10px;
    background-color: #1F2833;
    width: 330px;
    display: flex;
    margin: 0 auto 15px auto;
    justify-content: center;
    font-family: Georgia, serif;
    color:#39ff14 ;
}
.indent{
    height: 40px;
}

.h1{
    font-size: 26px;
    font-weight: 1000;
}

.text{
    font-size: 30px;
    border-radius: 10px;
    background-color: #1F2833;
    font-size: 25px;
    width: 350px;
    padding: 15px;
    display: flex;
    margin: 0 auto 15px auto;
    justify-content: center;
    font-family: Georgia, serif;
    color:#39ff14;
}

.button{
    font-weight: 900;
    font-size: 18px;
    border-radius: 100px;
    background-color: #242d38;
    border-radius:100px ;
    height: 120px;
    width: 120px;
    padding: 40px;
    display: flex;
    margin: 100px auto 15px auto;
    justify-content: center;
    color:#39ff14;
}

.buttons{
    display: flex;
    justify-content:space-between
}

.question{
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: #1F2833;
    width: 350px;
    padding: 15px;
    display: flex;
    margin: 50px auto 0 auto;
    font-family: Georgia, serif;
    color:#ffffff ;
}