.text{
    display: flex;
    justify-content: center;
    font-family: Georgia, serif;
    font-size: 20px;
    margin: 0 auto 10px auto ;
    font-size: 14px;
    display: flex;
    color:#39ff14;
    border-radius: 10px;
    background-color: #1F2833;
    width: 350px;
}

.form{
    display: flex;
    margin: 0 auto 0 auto;
    flex-direction: column;
}

.forms{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.button{
    border-radius: 10px;
    background-color: #242d38;
    margin:15px;
    width: 300px;
    height: 40px;
    font-size: 25px;
    font-weight: 600;
    color:#39ff14;
}

.input{
    color:#1F2833;
    border-color: #39ff14;
    border-width: 3px;
    margin: 10px ;
    border-radius: 10px;
    width: 300px;
    font-size: 25px;
    height: 35px;
}